:root {
  --color-a01: red;
  --color-a02: green;
}

:root[data-theme=light] {
  --color-a01  : LightCoral;
  --color-a02 : lightGreen;
}

:root[data-theme=dark] {
  --color-a01: DarkRed;
  --color-a02: darkGreen;
}